.bltpage{
background-color: #f0f0f0;
margin-top: 1.8%;
margin-bottom: 1.8%;
margin-left: 25%;
padding-top: 0.8%;
padding-bottom: 0.8%;
text-align: left;
}
.bldes{
text-align: left; 
padding-left: 10%; 
padding-right: 35%; 
margin-top: 1%; 
margin-bottom: 5%; 
font-family: 'Libre Caslon Text', serif; 
font-size: 100%;
}
