.bltpage{
background-color: #f0f0f0;
margin-top: 1.8%;
margin-bottom: 1.8%;
margin-left: 32%;
padding-top: 0.8%;
padding-bottom: 0.8%;
text-align: left;
}
.bldes{
text-align: left; 
margin-left: 10%; 
margin-right: 30%; 
margin-top: 5%; 
margin-bottom: 5%; 
font-family: 'Libre Caslon Text', serif; 
font-size: 100%;
}
@media screen and (max-width: 1000px) { .bdes { margin-left: 8%; margin-right: 26%; font-size: 97%; } } @media screen and (max-width: 800px) { .bdes { margin-left: 6%; margin-right: 22%; font-size: 94%; } } @media screen and (max-width: 625px) { .bdes { margin-left: 4%; margin-right: 18%; font-size: 91%; } }
