button{ 
text-align: center; 
margin-top: 4px; 
margin-bottom: 4px; 
margin-right: 7px; 
margin-left: 7px; 
}
.button-a{ 
font-family: 'Patrick Hand', cursive; 
color: #fff; 
text-align: center; 
border-radius: 2rem; 
cursor: pointer; 
background-color:#478195; 
border: none;   
transition: all 0.5s;
font-size: 18px; 
padding: 7px; 
width: 132px; 
} 
.button-a span { 
cursor: pointer; 
display: inline-block; 
position: relative; 
transition: 0.5s; 
} 
.button-a span:after
{ 
content: '»'; 
position: absolute; 
opacity: 0; 
top: 0; 
right: -20px; 
transition: 0.5s; 
} 
.button-a:hover span{ 
padding-right: 25px; 
} 
.button-a:hover { 
-ms-transform: scale(1.03); 
-webkit-transform: scale(1.03); 
transform: scale(1.03); 
} .button-a:hover span:after { 
opacity: 1; 
right: 0; 
}
@media screen and (max-width: 500px) { 
.button-a { 
font-size: 15px; 
padding: 5.83px; 
width: 112px; 
} 
}
.button-b{
font-family: 'Patrick Hand', cursive; 
color: #fff; 
text-align: center; 
border-radius: 2rem; 
cursor: pointer; 
background-color:#576a70; 
border: none;   
transition: all 0.5s;
font-size: 18px; 
padding: 7px; 
width: 147px; 
} 
.button-b:hover{ 
background-color: #878e98; 
-ms-transform: scale(1.03); 
-webkit-transform: scale(1.03); 
transform: scale(1.03); 
}
@media screen and (max-width: 500px) { 
.button-b { 
font-size: 15px; 
padding: 5.83px; 
width: 122.5px; 
} 
}
.btnz{ 
background-color: #6D3C93; 
color: #fff; 
padding: 7px; 
border: none; 
border-radius: 2rem; 
text-decoration: none; 
font-family: 'Patrick Hand', cursive; 
text-align: center; 
display: inline-block; 
font-size: 18px; 
cursor: pointer; 
transition: all 0.5s; 
} 
.btnz:hover{ 
background-color: #874CB5; 
-ms-transform: scale(1.03); 
-webkit-transform: scale(1.03); 
transform: scale(1.03); 
}
@media screen and (max-width: 500px) { 
.btnz { 
font-size: 15px; 
padding: 5.83px; 
} 
} 
